.dart_tool/
.packages
.pub-cache/
.idea/
.vscode/
*.iml
build/
*.class
*.log
*.pyc
*.swp
.DS_Store
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/device_info.dart
ios/Flutter/GeneratedPluginRegistrant.m
android/.gradle/
android/app/build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
